#workspace {
    width: 730px;
}

body {
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
    background-color: #fafafa;
}

#leftSideSection {
    float: left;
    margin-left: 1px;
    min-height: 200px;
    min-width: 600px;
    /* border to check block area */
    /* border: solid 1px #1E90FF; */
}

#rightSideSection {
    width: 90px;
    float: right;
    /* border to check block area */
    /* border: solid 1px orange; */
}

#infoSection {
    height: 30px;
    margin-bottom: 5px;
    /* border to check block area */
    /* border: solid 1px aquamarine; */
}

#userInputFields td input {
    width: 200px;
    border: solid 1px #cccccc;
    border-radius: 3px;
}

#actionButtons {
    margin-top: 20px;
    /* margins (auto) aligns buttons in center */
    margin-left: auto;
    margin-right: auto;
    /* width keeps buttons vertically */
    width: 90px;
    /* border to check block area */
    /* border: solid 1px mediumslateblue; */
}

#actionButtons input {
    border: solid 1px #cccccc;
    border-radius: 3px;
    height: 25px;
    width: 90px;
    cursor: pointer;
    /* space between buttons */
    margin-bottom: 5px;
}