<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Operations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/userOperations.css}"/>
</head>
<body>
<h1>User Operations</h1>
<div id="workspace">
    <div id="infoSection"></div>
    <div id="leftSideSection">
        <table id="addUser">
            <thead>
            <tr id="columns">
                <td>Name</td>
                <td>Surname</td>
                <td>Age</td>
            </tr>
            <tr id="userInputFields">
                <td><input id="name" type="text"/></td>
                <td><input id="surname" type="text"/></td>
                <td><input id="age" type="text"/></td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="dataHolder"></div>
    </div>
    <div id="rightSideSection">
        <div id="actionButtons">
            <input type="button" id="addUserButton" value="Add user">
            <input type="button" id="userDataButton" value="User data">
        </div>
    </div>
</div>
<script type="application/javascript" th:src="@{/userOperations.js}"></script>
</body>
</html>